*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}

html, body, .fullscreen {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    border: none;
}