@charset 'UTF-8';


/*   0. 全局样式
------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, SimHei;
}

input{
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

input::-webkit-search-cancel-button {
  display: none;
}




/*   1. 导航样式
------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #e7bb22;
  background-color: rgb(255, 210, 30);
  font-size: 18px;
}

header img {
  height: 20px;
  margin: 0 4px;
}

header input {
  width: 172px;
  height: 30px;
  padding-left: 30px;
  border: 1px solid #ffc800;
  background-color: rgb(255, 242, 188);
  font-size: 15px;
  border-radius: 4px;
  opacity: .5;
}

header input:focus {
  width: 300px;
  border: none;
  background-color: white;
  opacity: 1;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-shrink: 0;
  margin-left: 25px;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: -3px;
  background: #1996f0;
  border-radius: 50%;
}

.rectangle {
  width: 25px;
  height: 6px;
  background: #1996f0;
  border-radius: 4px;
  transform: rotate(315deg);
}

.logo p {
  margin-left: 10px;
  color: #4f4729;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.search img {
  position: absolute;
  margin-left: 6px;
  margin-top: 6px;
}

.add-to-taskbar {
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 12px;
  margin-right: 14px;
  padding-right: 12px;
  border: 1px solid #d9b31a;
  background-color: #ffd21e;
  color: #4f4729;
  font-size: 16px;
  border-radius: 4px;
}

.add-to-taskbar:hover {
  background-color: #eec41c;
}


.setting {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border: none;
  background-color: rgb(255, 210, 30);
  border-radius: 50%;
}

.setting:hover {
  background-color: #edc31c;
}

.setting img {
  height: 15px;
  margin-top: 2px;
}





/*   2. 内容区样式
------------------------------------------- */
main {
  display: flex;
  position: fixed;
  top: 51px;
  bottom: 0px;
  width: 100%;
}


/*   2.1 列表集合样式
------------------------------------------- */
.left-section {
  width: 160px;
  background-color: #f9f9f9;
}

.left-section button {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  border: none;
  background-color: #f9f9f9;
}

.left-section button:hover {
  background-color: #f0f0f0;
}

#newList {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 80px;
}

#newList button {
  height: 50px;
  margin-top: 30px;
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  transition: all .15s;
  cursor: pointer;
}

#newList button:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

#newList:hover .plus {
  color: #1996f0;
}

.plus {
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  color: #b3b3b3;
  transition: color .15s;
}

.plus::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  margin-left: -7.2px;
  margin-top: -1px;
  border-top: 1.5px solid;
  border-radius: 4px;
}

.plus::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 14px;
  margin-left: -1px;
  margin-top: -7px;
  border-left: 1.5px solid;
  border-radius: 4px;
}

#popUp input {
  width: 130px;
  height: 28px;
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 6px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

#popUp button {
  display: inline-block;
  height: 25px;
  margin: 10px 0 6px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#save-button {
  width: 50px;
  background-color: #1996f0;
  color: white;
}

#cancel-button {
  height: 30px;
  width: 50px;
  color: #1996f0;
}

#cancel-button:hover {
  background-color: #e7e7e7;
}

#listDisplay button {
  margin-top: 6px;
  font-size: 16px;
  border-radius: 6px;
}

#listDisplay button:hover {
  background-color: #f0f0f0;
}

#listDisplay button img {
  height: 20px;
  opacity: 0;
}

#listDisplay button:hover img {
  opacity: 1;
}

.current-list {
  color: #1996f0;
  font-weight: 700;
}






/*   2.2 任务项样式
------------------------------------------- */
.middle-section {
  flex: 5.5;
  position: relative;
  border-left: 1px solid #e6e6e6;
}

.list-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
}

.list-info p {
  margin-left: 32px;
  margin-bottom: 10px;
  color: #464646;
  font-size: 26px;
  font-weight: 500;
}

.list-info button {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 25px;
  border: none;
  background-color: white;
  border-radius: 50%;
}

.list-info button:hover {
  background-color: #ededed;
}

.list-info button img {
  height: 20px;
  margin-top: 4px;
}

#new-task {
  position: absolute;
  right: 30px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding-left: 8px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(185,183,183,.6);
  transition: background-color .15s;
}

#new-task:hover {
  background-color: #f5f5f5;
}

#new-task .plus {
  position: absolute;
  left: 8px;
  top: 17.5px;
  color: #1996f0;
  transform: scale(.8);
}

.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px 0 20px;
}

.item-sign {
  height: 20px;
  opacity: 0;
  transition: opacity .15s;
}

.task-item:hover .item-sign {
  opacity: 1;
}

.task-item input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  font-size: 16px;
  transition: all, .15s;
}

.task-item input:focus {
  border-bottom: 2px solid #1996f0;
}

.delete-task {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: #a5a5a5 1px solid;
  background-color: #fff;
  border-radius: 50%;
}

.delete-task:hover {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
}

.delete-task img {
  height: 15px;
  opacity: 0;
}

.delete-task:hover img {
  height: 25px;
  opacity: 1;
}



/*   2.3 任务信息样式
------------------------------------------- */
.right-section {
  flex: 4.5;
  border-left: 1px solid #e6e6e6;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
}

#titleInput {
  font-size: 16px;
  outline: none;
  border: none;
  width: 80%;
  height: 50px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-left: 10px;
}

input[type="date"] {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-right: 30px;
  margin-bottom: 4px;
  transition: background-color .15s;
  cursor: pointer;
  flex-shrink: 0;
}

input[type="date"]:hover {
  background-color: #ededed;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 12px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  display: none;
}

.remark {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #e6e6e6;
}

#taskDetail {
  flex: 1;
  min-height: 75px;
  margin-top: 12px;
  padding: 5px;
  border: white 1px solid;
  color: #6a6a82;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

#taskDetail:hover {
  border-color: #e6e6e6;
}

#taskDetail:focus {
  border-color: #1996f0;
}

.remark img {
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.timestamp {
  display: none;
  position: relative;
  height: 30px;
  width: 110px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 6px;
  border: 1px solid rgb(179, 179, 179);
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.timestamp>span {
  color: #464646;
  font-size: 14px;
  font-weight: 700;
}

.timestamp:before {
  content: '\2716';
  position: absolute;
  left: 95px;
  line-height: 30px;
}

.timestamp:hover {
  color: red;
}