.content {
    display: flex;
    gap: 16px;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.content-element {
    display: flex;
    width: 32%;
    /* flex: 1; */
    flex-direction: column;
}

.content-element:hover .info-more {
    opacity: 1;
}

.content-element img {
    width: 100%;
}

.video-info {
    display: flex;
    justify-content: left;
    margin-left: 4px;
    margin-right: 4px;
}

.text-info {
    display: flex;
    flex-direction: column;
}

.profile-picture img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-top: 2px;
}

.video-cover {
    position: relative;
    margin-bottom: 6px;
}

.timestamp {
    padding: 4px 4px;
    background: black;
    border-radius: 2px;
    position:absolute;
    right: 8px;
    bottom: 8px;
    color: white;
    font-family: Roboto, sans-serif, SimHei;
    font-weight: 700;
    font-size: 10px;
}

.info-title {
    font-family: Roboto, sans-serif, SimHei;
    font-size: 14px;
    font-weight:500;
    padding-left: 8px;
    padding-top: 4px;
    margin-bottom: 8px;
}

.info-author {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    padding-left: 8px;
    margin-bottom: 4px;
}

.info-data {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    padding-left: 8px;
}

.info-more {
    opacity: 0;
}

.info-more img {
    height: 20px;
    width: 20px;
    padding: 10px 10px;
    border-radius: 40px;
    margin-right: -16px;
}

.info-more img:active {
    background-color: rgb(224,224,224);
}