.section-anime {
    text-align: center;

    &__shell {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        height: 90%;
    }
}