* {
    margin: 0;
    padding: 0;
}

html, body, .fullscreen {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Ubuntu;
    font-weight: 700;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}