* {
    margin: 0;
    padding: 0;
    text-align: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image:linear-gradient(99deg, #7A88FF, #7AFFAF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 28px;
    margin-top: 5px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
}

input {
    outline: none;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 27px;
    font-weight: 100;
    text-align: right;
    height: 100px;
    cursor: default;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

table {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

td {
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, .4);
    width: 85px;
    cursor: pointer;
    transition: all .15s;
}

td:hover {
    background-color: rgba(255, 255, 255, .7);    
}

td:active {
    background-color: rgba(255, 255, 255, 9);    
}

#back-button, #clear-button{
    font-size: 20px;
    transition: all .15s;
}

#back-button:hover {
    background-color: rgba(0, 0, 255, .4);
    color: white;
}

#clear-button:hover {
    background-color: rgba(255, 0, 0, .4); 
    color: white;
}

#back-button:active, #clear-button:active {
   background-color: rgba(255, 255, 255, .9);
   color: black;
}