* {
    margin: 0;
    padding: 0;
    text-align: 0;
}


html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}




ul {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: none;
}

li {
    list-style: none;
    color: #616161;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    font-size: 12px;
    width: 80px;
}

li:hover {
    background-color: #0060c0;
    color: #fff;
}
